.starterWizard__nav {
	padding: 0;
	margin: 1em 0 0;
	display: flex;
	flex-wrap: wrap;
	background: #007878;
}

.starterWizard__nav li {
	background: #007878;
	color: #fff;
	list-style: none;
	width: 100%;
	padding-left: 1em;
	border-bottom: solid 1px #036060;
}

.starterWizard__nav li:last-child {
	border-bottom: 0
}

.starterWizard__nav li:hover {
	background: #036060;
}

.starterWizard__nav li.selected {
	background: #036060;
}

.starterWizard__nav li a {
	text-decoration: none;
}

.starterWizard__nav li a,
.starterWizard__nav li span {
	padding: 0.25em 0;
	color: #fff;
	font-size: 1em;
	display: block;
}

@media (min-width: 1024px) {
	.starterWizard__nav li {
		border-bottom: none;
		padding-right: 1em;
		border-right: solid 1px #fff;
		width: auto;
		text-align: center;
	}

	.starterWizard__nav li a,
	.starterWizard__nav li span {
		padding: 0.75em 0;
		display: inline-block;
	}
}
