.ril--table .table-wrapper {
  overflow-x: auto;
  margin: 0.5em 0;
}

.ril--table table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  margin-bottom: 2px; /* to fix chrome/firefox bug showing a vertical scrollbar at higher resolutions */
  border: solid 1px #ccc;
  border-bottom: 0;
}

.ril--table th,
.ril--table td {
  padding: 5px;
  border: solid 1px #ccc;
  border-left: 0;
  border-top: 0;
}

.ril--table th {
  white-space: nowrap;
  background: #ddd;
}

.ril--table td {
  vertical-align: top;
  background: white;
}

.ril--table td ul {
  min-width: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
}
