/* Add styles that should be loaded on all eventify pages */
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSans/NotoSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSans/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSans/NotoSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSans/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: NotoSansArabic;
    src: url(../fonts/NotoSansArabic/NotoSansArabic-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: NotoSansArabic;
    src: url(../fonts/NotoSansArabic/NotoSansArabic-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: NotoSansArabic;
    src: url(../fonts/NotoSansArabic/NotoSansArabic-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: NotoSansArabic;
    src: url(../fonts/NotoSansArabic/NotoSansArabic-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

[lang="fa"] body,
[lang="fa"] h1,
[lang="fa"] h2,
[lang="fa"] h3,
[lang="fa"] h4,
[lang="fa"] h5,
[lang="fa"] h6,
[lang="fa"] textarea,
[lang="fa"] option,
[lang="fa"] input {
    font-family: 'NotoSansArabic', 'NotoSans', 'Helvetica', 'Arial', sans-serif;
}
