/* warning in case javascript is disabled, .noscript is for ie11 */
noscript,
.noscript {
    background: #c00;
    display: block;
    color: #fff;
    padding: 0.7em;
    font-weight: bold;
    text-align: center;
}

.glyphicon--green {
    color: #007878;
}

/* centering charts inside panels in scorecard */
.panel-body--centered {
    text-align: center;
}

.panel-body--overflow-x-auto {
    overflow-x: auto;
}

.panel-body .chart-placeholder {
    margin: 4em 1em;
}

/* fixing problem with long words running out of panel */
.panel-body {
    word-break: break-word;
}

.ril__warning {
  border: solid 1px #c66;
  padding: 1em 1em 1em 3em;
  margin: 1em 0;
  background: url('/images/error.svg') no-repeat 1em center #fbdfdf;
}

.ril__warning--success {
    padding-left: 1em;
    border: none;
    background: #4caf50;
    color: white;
}

/* taken from eventify */
.ril__close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.navbar-primary .navbar__count {
    background: #daf2ef;
    color: #036060;
    display: inline-block;
    min-width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    border-radius: 9px;
    position: relative;
    top: -10px;
    left: 3px;
    font-size: 14px;
}

.view-product-information {
  text-align: right;
}

.view-product-information .btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  background-color: #007878 !important;
  color: #fff !important;
}

/* To left-align label of checkboxes and radio fields with the fields when label wraps */
label.contains-checkbox-or-radio {
    padding-left: 21px;
    text-indent: -21px;
}

.align-middle {
    vertical-align: middle !important;
}


/************ responder UI *************/
.main__links {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.main__links a.icon::before {
    background-color: #007878;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex--end {
    align-items: flex-end;
}


.starterWizard .button-wrapper button {
    border-radius: 0;
}
